* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
	background: url(../img/weather.png);
	font-family: helvetica;
}

.container{
	width: 1000px;
	margin: auto;
	margin-top:80px;
}

header{
	background: black; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient( #004B77 , #022031); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient( #004B77 , #022031); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #004B77 , #022031); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #004B77 , #022031); /* Standard syntax */
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
}

header nav{
	margin: auto;
	height: 60px;
	width: 1000px;
}

header ul{
	height: 60px;
}
header nav li{
	list-style: none;
	color: white;
	margin-right: 10px;
	height: 50px;
	float: left;
}

header form {
	margin-top: 12px;	
	border-radius: 100px;
	background: white;
}

header input{
	height: 30px;
	background: transparent;
	border:0;
	padding-left: 15px;
	min-width: 300px; 
}

header button{
	height: 30px;
	background: transparent;
	border:0;
}

header img{
	margin: 5px;
	border-radius: 100px;
}

aside, article{
	float: left;
}

aside{
	width: 300px;
	float: right;
}

article{
	width: 680px;
	padding: 10px;
}

section{
	margin-bottom: 25px;
	background: white;
	box-shadow: 2px 2px 11px #004F88;
	height: 128px;
}


section .avatar{
	float:left;
	width: 128px;
	height: 128px;
}

section .status{
	width: 530px;
	float:right;
	padding: 20px;
}

section .avatar img{
	margin-top: 28px;
	margin-left: 28px;
	z-index: 10;
	position: absolute;
	border:2px solid white;
}

.background_image{
	position: absolute;
	z-index: 1;
	width: 128px;
	height: 128px;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	opacity: .7;
}

aside div.user_information{
	background: white;
	padding: 5px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 11px #004F88;
}

aside div.avatar{
	float: left;
}

div.information{
	float: left;
	margin-left: 10px;
}

#user_nick, #user_name{
	font-size: 14pt;
	color: #00A3A5;
}

#user_nick{
	font-weight: bolder;
}

#user_name{
	font-size: 11pt;
	color:gray;
	font-weight: normal;
	margin-top: -5px;
}

div.stats{
	text-align: center;
}

span.rating{
	color: #00AD90;
	font-size: 28pt;
	font-weight: bolder;
}

span.rating_text{
	color:gray;
}

aside nav li{
	display: block;
	list-style: none;
	padding: 10px;
	border-bottom: 1px solid gray;
	border-left: 5px solid #00263B;
	cursor: pointer;
	margin-bottom:5px;

	background: #0086D5; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient( #0086D5 , #0074B9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient( #0086D5 , #0074B9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #0086D5 , #0074B9); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #0086D5 , #0074B9); /* Standard syntax */
	color: white;
}

aside nav li:hover{
	background: #00B9D5; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient( #00B9D5 , #009EB9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient( #00B9D5 , #009EB9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #00B9D5 , #009EB9); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #00B9D5 , #009EB9); /* Standard syntax */
}

.action{
	width: 128px;
	height: 128px;
	border:1px solid black;
	background: #292929;
	color:white;
	padding-top: 20px;
	position: absolute;
	z-index: 500;
	text-align: center;
	/*display: none;*/
}

h1{
	font-size: 11pt;
	text-align: center;
}

.share_buttons{
	margin-top: 10px;
	padding-top: 15px;
	border-top: 1px solid #525252;
}

.fb, .tw, .g, .ins{
	display: inline-block;
	width: 24px;
	height: 24px;
}

.fb{
	background: url(../img/fb.png);
}

.tw{
	background: url(../img/twitter.png);
}

.g{
	background: url(../img/g.png);
}

.ins{
	background: url(../img/instagram.png);
}
